.blogPage {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	gap            : 15px;
	margin-top     : 50px;
}

.blogPage h1 {
	font-size  : 2.5rem;
	color      : var(--purple-one);
	text-align : center;
	max-width  : 1000px;
}

.blogPage h4 {
	color : var(--purple-two);
}

.authorContainer {
	display     : flex;
	gap         : 10px;
	align-items : center;
}

.authorImage {
	width         : 25px;
	height        : 25px;
	border-radius : 5px;
}

.blogContent {
	max-width   : 1000px;
	font-family : fuse-text;
	font-size   : 1.2rem;
}

#likeButton {
	background-color : var(--purple-one);
	color            : white;
	border           : none;
	border-radius    : 4px;
	height           : 30px;
	padding-inline   : 20px;
	cursor           : pointer;
	font-family      : "fuse";
	font-size        : 0.8rem;
	margin-bottom    : 20px;
}

#likeButton:hover {
	background-color : var(--purple-two);
	transition       : background-color 0.3s ease;
}

